body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.bingo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    justify-content: center;
    align-items: center;  
}

.bingo-floater{
    display: flex;
    gap: 5%; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 400px;
    width: 90%;
}

.bingo-title{
    font-size: 400%;
    font-weight: 200;
    padding-bottom: 10%;
}

.bingo-title-max{
    display: flex;
    font-size: 200%;
    font-weight: 200;
    padding-bottom: 0;
    max-width: 75%;
}

.game-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-weight: 200;
    padding-bottom: 10%;
}


.bingo-prompt{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; 
    font-size: 200%;
    font-weight: 200;
}

.bingo-prompt.v{
    flex-direction: column;
}


.code-err{
    color: red;
}

.bingo-prompt:focus{
    outline: 0;
}

.bingo-option{
    font-size: 100%;
    font-weight: 200;
    text-decoration: underline;
}

.bingo-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px
}

.bingo-input{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.bingo-prompt-container{
    width: 120%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 10px;
    overflow: scroll;
}
.bingo-prompt-container.noscroll{
    overflow: visible;
}

.bingo-prompt-box{
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-wrap: anywhere;
    text-align: center;
}

.bingo-prompt-box.small{
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-wrap: anywhere;
    text-align: center;
    font-size: xx-small;
}