.member-page{
    display: flex;
    position: relative;
    flex-direction: column;
}

.member-page-header{
    position: relative;
    display: flex;
    padding: 10px;
}

.member-page-title{
    display: flex;
    position: absolute;
    font-weight: bold;
    font-size: 100%;
    bottom: 0;
    left: 150px;
}

.member-page-body{
    display: flex;
    position: relative;
}

.member-page-menu{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 150px;
    padding: 10px;
    row-gap: 10px;
}

.member-page-content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 150px);
}

.member-page-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.member-page-link{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.member-page-link:hover{
    outline: 1px solid var(--bk-color-red);
}

.member-page-link.active{
    background-color: var(--bk-color-red);
}

.member-page-link.return{
    margin-top: 30px;
}