.sidebar-link{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.sidebar-link:hover{
    font-weight: bold;
}

.sidebar-link.active{
    font-weight: bold;
}

.sidebar-link.return{
    margin-top: 30px;
}