.sidebar-page-link{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.sidebar-link:hover{
    outline: 1px solid var(--bk-color-red);
}

.sidebar-link.active{
    background-color: var(--bk-color-red);
}

.sidebar-link.return{
    margin-top: 30px;
}