.sidebar-link{
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px;
    cursor: pointer;
    
}

.sidebar-link:hover{
    font-weight: bold;
}

.sidebar-link.active{
    font-weight: bold;
}

.sidebar-link.return{
    margin-top: 30px;
}