.contact-tmp{
    display: flex;
    position: relative;
    flex-direction: column;
    display: flex;
}

.contact-item{
    display: flex;
    gap: 10px;
}

.icon{
    width: 25px;
    height: 25px;
}
