@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bk-color-red: #E8557A;
  --bk-color-orange: #F7995C;
  --bk-color-yellow: #FFD24E;
  --bk-color-blue: #7AD1DF;
  --bk-color-green: #5AC7BD;
}

body {
  background-color: #FAFAF8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
