@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



/*LOGO med spin*/

.spin-logo-container {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.spin-logo-mask {
  position: absolute;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.spin-logo {
  position: absolute;
  width: 400%;
  height: 100%;
  left: 0;
  animation: moveRight 5s linear infinite;
}

.spin-logo-text {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
}

@keyframes moveRight {
  0% {
      left: 0;
  }
  100% {
      left: -200%;
  }
}



.header-tmp{
  position: relative;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}